<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <main>
        {{{body}}}
    </main>

    <footer>
        <p>Group 31: Ivana Lu, Nicholas Wilson, Britt Li Kendle</p>
    </footer>

</body>

</html>