<h1>Collection Index</h1>

{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}

<canvas id="index-canvas" width="800" height="600"></canvas>
<script src="/public/js/collectionIndex.js"></script>
