<div class="collectionIndex">    
    <h1>Collection Index</h1>

    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}

    <a href="/gacha">Back to Gacha</a>

    <canvas id="index-canvas" width="1380"></canvas>
    <script type="module" src="/public/js/index-system.js"></script>
</div>
