<div class="inventory">
    <h1>My Inventory</h1>
    <div class="inventory-navigation-links">
        <a href="/gacha" class="navigationLink">Gacha</a>
        <a href="/shop" class="navigationLink">Shop</a>
    </div>
    {{!-- input for nickname, but keep it hidden initially --}}
    <div class="nicknameContainer">
        <label for="nickname" id="nickname-label" class="nickname-label" style="display: none">
            Nickname:
        </label>
        <input type="text" id="nickname-input" class="inputA" style="display: none"> 
    </div>
    <canvas id="inventory-canvas"></canvas> 
    <script>
        window.inventoryData = {{{inventory}}}; // pass inventoryData to the game
    </script>
    <script>
        window.userData = {{{user}}}; // pass user to the game
    </script>
    <script type="module" src="../public/js/inventory-system.js"></script>
</div>

