<div class="gacha">
    <h1>Welcome to the Gacha System!</h1>
    <a href="/shop">Shop</a>
    <a href="/collectionInventory">Inventory</a>
    <canvas id="canvas"></canvas> {{! where the game screen will be }}
    <script type="module" src="/public/js/gacha-system.js"></script>
</div>