<h1>Gacha Login</h1>

<ul id="error" class="error"></ul>

{{!-- method="POST" action="/" --}}
<form id="signin-form"> 
    
    <label for="email" class="labelA">
        Email:
    </label>
    <input type="text" id="email" class="inputA" name="email">

    <label for="password" class="labelA">
        Password:
    </label>
    <input type="password" id="password" class="inputA" name="password">

    <button type="submit" id="submit_button" class="buttonA" name="submit_button">Sign In</button>

    <a id="signuplink" href="/register">Click here to signup!</a>
</form>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/public/js/login_form_process.js"></script>