<h1>Register Page</h1>

<ul id="error" class="error">
  {{#if errors}}
    {{#each errors}}
      <li>{{this}}</li>
    {{/each}}
  {{/if}}
</ul>

<form id="signup-form" name="signup-form" action="/register" method="POST"> 
    <label for="username" class="labelA">
        Username:
    </label>
    <input type="text" id="username" class="inputA" name="username">

    <label for="email" class="labelA">
        Email:
    </label>
    <input type="text" id="email" class="inputA" name="email">

    <label for="password" class="labelA">
        Password:
    </label>
    <input type="password" id="password" class="inputA" name="password">

    <label for="confirmPassword" class="labelA">
        Confirm Password:
    </label>
    <input type="password" id="confirmPassword" class="inputA" name="confirmPassword">

    <button type="submit" id="submitButton" class="buttonA" name="submitButton">Sign Up</button>

    <a id="loginlink" href="/">Already have an account? Click here to sign-in</a>
</form>

<script src="/public/js/login_form_process.js"></script>


