{{!-- Used to display user settings --}}
<div class="settings">
    <a href="/user/{{userId}}/profile" id="profileLink" class="profileLink">Profile Page</a>
    <button id="deleteBtn" type="submit"class="deleteBtn">Delete Account</button> {{!-- This link doesn't really do anything as its
    handled by
    client-side
    JS--}}

    <script src="/public/js/user_settings.js"></script>
</div>