{{!-- Used to display user settings --}}
<div class="settings">


    <audio controls hidden loop id="sound">
        <source src="/public/music/digimonAdventure2_OST4.mp3" type="audio/mp3">
    </audio>
    <script>
        const audio = document.getElementById("sound");
        audio.removeAttribute("muted");
        window.addEventListener("click", () => {
            audio.play()
            audio.volume = 0.05
        })
    </script>

    {{#if user}}
    {{{hasUploaded user}}}
    {{/if}}

    <p><a href="/user/{{userId}}/profile" id="profileLink">Profile Page</a></p>
    <p><button id="deleteBtn" type="submit">Delete Account</button></p> {{!-- This link doesn't really do anything as
    its handled by client-side JS--}}

    <script src="/public/js/user_settings.js"></script>
</div>