<h1>Shop</h1>

{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}

<p id="user-balance">Current Balance: {{user.metadata.currency}}</p>

<canvas id="shop-canvas" width="800" height="600"></canvas>
<form id="purchase-form" action="/shop/purchase" method="POST" style="display:none">
  <input type="hidden" name="itemName" id="pf-itemName" />
  <input type="hidden" name="quantity"  value="1" />
</form>

<script src="/public/js/shop.js"></script>
